<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Control de Stock </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0;">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'productos' %}">Productos</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'mostrarFormularioBusqueda' %}">Buscar Producto</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'prodFormulario' %}">Ingresar Producto</a></li>
                </ul>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'crear_proveedor' %}">Agregar Proveedor</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'crear_pedido_compra' %}">Crear Pedido de Compra</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'lista_pedidoscompra' %}" class="btn btn-primary">Lista de compras a Proveedores</a>
                </ul>
            </div>
        </div>
    </nav>
    
    
    
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="https://png.pngtree.com/png-vector/20191030/ourlarge/pngtree-cart-plain-shoping-trolly-icon-vector-illustration-for-web-png-image_1927620.jpg" alt="150" width="150">
            <h1 class="text-white fs-3 fw-bolder">Stock Mercado Electronico</h1>
        </div>
    </header>

    
    {% block contenidoQueCambia %}
        
    {% endblock contenidoQueCambia %}
        
    <!-- Footer-->
    <footer class="py-5 bg-dark" style="min-height: 51vh ; padding: 0;">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
